@media(max-width: 1024px){

    .desktop{
        display: none;
    }

    .mobile{
        display: block;
    }

    #home{

        background-image: url('/src/assets/Mobile/s1.png');
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 170vw;
        overflow-x: hidden;

        
        
        .container{

            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 100%;

        }

        .homeContent{

            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;


        }

        .homeContent__titulo{

            font-size: 3rem;
            color: #d3557c;
            font-family: Arial, Helvetica, sans-serif;

        }

        .homeContent__texto{

            font-size: 1.2rem;

        }
        
        .homeContent img{

            width: 60vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-self: center;

        }

        .homeContent__button{

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-self: center;
            border: 2px solid #d3557c;
            background-color: #d3557c;
            border-radius: 5vw;
            width: 50vw;
            height: 10vw;
            white-space: nowrap;
            font-size: 1rem;
            font-weight: 600;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;

        }

        .homeContent__button__dois{

            text-decoration: none;
            color: white;
            text-transform: uppercase;

        }

        .homeContet__valorize{

            font-size: 1.1rem;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 600;

        }


    }

    #somos{


        background-color: #191c26;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: fit-content;

        .container{

            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 100%;
            

        }

        .somosContent{

            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;

        }

        .somosContent__titulo{

            color: white;
            font-size: 3.5rem;
            text-transform: center;

        }

        .somosContent__texto{

            color: white;
            font-size: 1.2rem;
            line-height: 2.5rem;
            font-family: Arial, Helvetica, sans-serif;

        }

        .textoInferior{

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-self: center;
            border: 1px solid #d3557c;
            background-color: #d3557c;
            width: 85vw;
            margin-top: 0;

        }
        
        .textoInferior__texto{

            color: white;
            font-size: 1.1rem;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;

        }

    }

    #foco1{

        background-image: url('/src/assets/Mobile/s2.png');
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 150vw;


        .container{

            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 100%;

        }


        .foco1Content {
            display: flex;
            justify-content: center;
            align-items: flex-end; 
            height: 100vw;
        }
        
        .foco1Content__titulo{

            font-size: 2.7rem;
            text-align: center;
            text-transform: uppercase;
            font-family: Arial, Helvetica, sans-serif;
            color: #f7ead2;
            font-weight: 600;

        }

       
        .focoContentCorpo{

            display: flex;
            justify-content: center;

        }

        .focoContentCorpo__texto{

            text-align: center;
            font-size: 1.4rem;
            color: #f7ead2;
            font-family: Arial, Helvetica, sans-serif;

        }

    }

    #foco2{

        background-image: url(/src/assets/Mobile/s3.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 150vw;
      
        .container{

            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 100%;

        }

        .foco2Content{

            display: flex;
            justify-content: center;
            align-items: flex-end;
            height: 100vw;

        }

        .foco2Content__titulo{

            font-size: 2.2rem;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            color: black;
            text-transform: uppercase;
            font-weight: 400;

        }

        .foco2ContentCorpo{

            display: flex;
            justify-content: center;

        }

        .foco2ContentCorpo__texto{

            text-align: center;
            font-size: 1.2rem;

        }

    }

    #foco3{

        background-image: url('/src/assets/Mobile/s4.png');
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 150vw;
        margin-top: -1vw;


        .container{

            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 100%;

        }

        .foco3Content{

            display: flex;
            justify-content: center;
            align-items: flex-end;
            height: 100vw;

        }

        .foco3Content__titulo{


            font-size: 2.3rem;
            text-align: center;
            text-transform: uppercase;
            font-family: Arial, Helvetica, sans-serif;
            color: #d3557c;
            font-weight: 600;

        }

        .foco3ContentCorpo{

            display: flex;
            justify-content: center;

        }

        .foco3ContentCorpo__texto{

            font-size: 1.3rem;
            text-align: center;
            color: #d3557c;
        }

    }


    #fakeSession{

        background-color: #191c26;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: fit-content;

        .container{

            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 100%;
            align-self: center;

        }

        .comoBeneficiar{

       
            color: white;
            text-align: center;
            font-size: 1.3rem;
            text-transform: uppercase;
            font-family: Arial, Helvetica, sans-serif;
        }

    }

    
    #fakeLead1{

        background-color: #d3557c;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: fit-content;

        .container{

            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 100%;

        }

        .fl1Content{

            display: flex;
            justify-content: center;

        }

        .fl1Content__titulo{

            font-size: 6vw;
            text-transform: uppercase;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 600;
            transform: translateY(30vw);
            text-align: right;

        }

        .fl1ContentTexto{

            text-transform: uppercase;
            text-align: left;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
            justify-content: left;
            font-size: 4vw;
            transform: translateY(30vw);
            padding-left: 3vw;

        }

        .maosImage{

            width: 25vw;

        }

        .posixMao{

            display: flex;
            justify-content: center;
            margin-bottom: 50vw;
            position: relative;
            top: 30vw;

        }

        .pig01{

            width: 25vw;
            transform: translateY(-4%);

        }

    }

    #fakeLead2{

        background-color: #AFEB60;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: fit-content;

        .container{

            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 100%;

        }

        .fl2Content{

            display: flex;
            justify-content: center;

        }

        .fl2Content__titulo{

            font-size: 6vw;
            text-transform: uppercase;
            color: black;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 600;
            transform: translateY(30vw);


        }

        .fl2ContentTexto{

            font-size: 4.5vw;
            text-transform: uppercase;
            display: flex;
            justify-content: left;
            transform: translateY(30vw);
            padding-left: 5vw

        }

        .posixMao{
            display: flex;
            justify-content: center;
            margin-bottom: 50vw;
            position: relative;
            top: 35vw;
        }

        .pig02{

            width: 25vw;
            transform: translateY(-4%);
            z-index: 99;



        }

    }

    #fakeLead3{

        background-color: #f7ead2;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: fit-content;

        .container{

            display: flex;
            flex-direction: column;
            justify-content: center;

        }

        .fl3Content{

            display: flex;
            justify-content: center;

        }

        .fl3Content__titulo{

            font-size: 5.5vw;
            text-transform: uppercase;
            font-weight: 600;
            font-family: Arial, Helvetica, sans-serif;
            color: #d3557c;
            transform: translateY(30vw);
        }

        .fl3ContentTexto{

            font-size: 5vw;
            color: #d3557c;
            text-transform: uppercase;
            transform: translateY(30vw);
            padding-left: 6vw;
            
        }

        .posixMao{

            display: flex;
            justify-content: center;
           margin-bottom: 50vw;
           position: relative;
           top: 35vw;

        }

        .pig03{
            width: 25vw;
            transform: translateY(-4%);
        }

    }

    #servicos{

        background-image: url('/src/assets/Mobile/s11.png');
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 150vw;


        .container{

            display: flex;
            flex-direction: column;
            justify-content: center;

        }

        .servicoContent{

            display: flex;
            justify-content: center;

        }

        .servicoContent__titulo{

            color: #f7ead2;
            font-size: 7vw;
            text-transform: uppercase;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 600;
            padding-right: 30vw;
            


        }

        .containerTexto__texto{

            color: #f7ead2;
            font-size: 5vw;
            line-height: 2.5rem;

            

        }

    }

}





@media(min-width: 1025px){


    .desktop{
        display: block;
    }

    .mobile{
        display: none;
    }

    #home{

        background-image: url(/src/assets/Desktop/1.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: fit-content;
        overflow-x: hidden;


        .containerHomeDesk{

            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 100%;

        }

        .homeDeskLeft {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: flex-start;
            align-self: flex-start;
            gap: -5rem;
            transform: translateX(40%);
            position: relative;
            top: 10vw;
        
        }
        
        .homeDeskLeft__titulo {
            font-size: 6vw;
            font-family: Arial, Helvetica, sans-serif;
            color: #d3557c;
            margin-bottom: 0vw;

        }
        
        .homeDeskLeft__texto {
            text-align: right;
            display: flex;
            justify-content: center;
            font-size: 2vw;
        }

        .buttonHomeDesk{

            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 1.3vw;
            font-family: Arial, Helvetica, sans-serif;
            border: 5px solid #d3557c;
            width: 15vw;
            height: 2.7vw;
            border-radius: 20px;
            text-align: center;
            background-color: #d3557c;
            transform: translateX(98%);
            text-transform: uppercase;
            position: relative;
            top: 23vw;
            
        }

        
        .buttonHomeDesk__dois{

            text-decoration: none;
            color: white;
            font-family: Arial, Helvetica, sans-serif;

        }

        .textoSubHomeDesk{

            font-size: 2vw;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 600;
            text-transform: uppercase;
            transform: translateX(15%);
            margin-top: 25vw;
           
        }

    }

    #somos{

        background-color: #191c26;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: fit-content;

        .containerSomosDesk{

            display: flex;
            flex-direction: column;
            justify-content: center;


        }
        
        .textoCenterDesk{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 2vw;
            text-align: center;
            line-height: 50px;
        }

        .textoCenterDesk__titulo{

            color: white;
            font-size: 4vw;
            font-family: Arial, Helvetica, sans-serif;
            text-transform: uppercase;

        }

        .textoCenterDesk__texto{

            color: white;
        }

        .boxSomosDesk{

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-self: center;
            border: 2px solid #d3557c;
            background-color: #d3557c;
            width: 40vw;
            height: 4vw;
            margin-top: 10vw;

        }

        .boxSomosDesk__texto{

            font-size: 1.2vw;
            color: white;

        }



    }


    #foco1{

        background-image: url(/src/assets/Desktop/3.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 69vw;

        .foco1ContainerDesk{

            display: flex;
            flex-direction: column;
            justify-content: center;

        }

        .focoConverDesk{

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;


        }

        .focoConverDesk__titulo{

            font-size: 4vw;
            text-transform: uppercase;
            color:  #f7ead2;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 600;

        }

        .focoConverDesk__texto{

            font-size: 2vw;
            color: #f7ead2;
            font-family: Arial, Helvetica, sans-serif;
            transform: translateX(10%);


        }

    }

    #foco2{

        background-image: url(/src/assets/Desktop/4.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 70vw;

        .foco2ContainerDesk{

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

        }

        .focoLeftDesk{

            display: flex;
            flex-direction: column;
            justify-content: center;
            transform: translateX(50%);
            padding-top: 30vw;
        


        }

        .focoLeftDesk__titulo{

            font-size: 4vw;
            text-transform: uppercase;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 600;
        }

        .focoLeftDesk__texto{

            font-size: 2.3vw;
            font-family: Arial, Helvetica, sans-serif;

        }


    }
    

}